#liste-apprenants {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
    .card-container {
        position: relative;
        width: 300px;
        height: 450px;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        background: $primaryColorBlue;
        margin-bottom: 30px;
        overflow: hidden;
        box-shadow: 0 7px 20px 10px rgba(0, 0, 0, 0.2);
        .card-header-container {
            position: relative;
            padding: 20px 0;
            .card-title {
                font-size: 22px;
                font-weight: 600;
                text-align: center;
            }
            .skills-container {
                display: flex;
                justify-content: space-around;
                padding: 10px 50px;
                font-size: 14px;
            }
            .promotion {
                position: absolute;
                bottom: -30px;
                right: 0;
                font-size: 18px;
                font-weight: 600;
                background: $primaryColorBlue;
                padding: 5px 10px;
                border-bottom-left-radius: 50%;
            }
        }
        .excerpt {
            position: absolute;
            z-index: 2;
            background: #113b5bea;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            padding: 25px;
            border: 10px solid $primaryColorBlue;
            font-size: 14px;
            overflow: auto;
            transition: all 0.4s 0.1s ease-in-out;
            text-align: justify;
            .hide {
                position: absolute;
                top: 0;
                right: 0;
                border: none;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-size: 1.05rem;
                background: darken($primaryColorBlue, 7%);
                i {
                    color: $primaryColorYellow;
                }
            }
            &:hover {
                left: 0;
            }
            .excerpt-title {
                text-align: center;
                color: $primaryColorYellow;
                margin-bottom: 10px;
            }
        }
        .excerpt:hover ~ .show-excerpt {
            left: 100%;
        }

        .img-container {
            width: 100%;
            overflow: hidden;
            .img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }

        .links-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 90px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 101%;
            background: $primaryColorYellow;
            clip-path: polygon(0 0, 100% 15px, 100% 100%, 0 100%);
            margin: 0 auto;
            a {
                font-size: 35px;
                color: $primaryColorBlue;
                text-decoration: none;
                transition: color 0.3s ease-in-out;
                &:hover {
                    color: lighten($primaryColorBlue, 20%);
                }
            }
        }

        .show-excerpt {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
            background: $primaryColorBlue;
            width: 40px;
            height: 40px;
            padding-right: 6px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.4s 0.1s ease-in-out;
        }
        .show-excerpt:hover ~ .excerpt {
            left: 0;
        }
    }
}

.no-results {
    color: $primaryColorBlue;
    font-size: 26px;
    text-align: center;
}
