.container {
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
    .container {
        width: 90%;
        
    }
    #liste-apprenants {
        justify-content: center !important;
    }
}