#filterBar {
    width: 100%;
    margin: 40px auto;
    .filter-text {
        margin-bottom: 25px;
        font-size: 1.1rem;
        position: relative;
    }
    .search-select-group {
        display: flex;
        justify-content: space-between;
        .promotion-selector-group {
            width: 30%;
            select[name="promotion"] {
                border: 1px solid #000;
                padding: 8px;
                outline: none;
                font-family: "Poppins", sans-serif;
                width: 100%;
            }
        }
        .search-bar-group {
            display: flex;
            width: 65%;
            input[type="search"],
            .searchButton {
                outline: none;
                padding: 8px;
            }
            input[type="search"] {
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
                border-left: 1px solid #000;
                border-right: none;
                width: 100%;
                &::placeholder {
                    font-family: "Poppins", sans-serif;
                }
            }
            .searchButton {
                border: 1px solid #000;
                cursor: pointer;
                background: $primaryColorBlue;
                transition: all 0.3s ease-in-out;
                i {
                    font-size: 1.1rem;
                    color: $primaryColorYellow;
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                    background: $primaryColorYellow;
                }
                &:hover i {
                    color: $primaryColorBlue;
                }
            }
        }
    }

    .skills-group {
        display: flex;
        color: $primaryColorBlue;
        font-weight: 700;
        font-size: 0.9rem;
        .checkbox-label-group {
            margin: 25px 25px 0 0;
            input[type="checkbox"],
            label {
                cursor: pointer;
            }
        }
    }

    .submit-button-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .submit-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 40px;
            border: 1px solid #000;
            cursor: pointer;
            background: $primaryColorBlue;
            transition: all 0.3s ease-in-out;
            font-size: 1.1rem;
            color: $primaryColorYellow;
            font-weight: 100;
            &:hover {
                background: $primaryColorYellow;
                color: $primaryColorBlue;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #filterBar {
        width: 90%;
    }
}

@media screen and (max-width: 440px) {
    .search-select-group {
        flex-direction: column;
        .search-bar-group {
            width: 100% !important;
            order: -1;
            margin-bottom: 15px;
        }
        .promotion-selector-group {
            width: 100% !important;
        }
    }
    .submit-button-container {
        margin-top: 25px;
        .submit-button {
            width: 100% !important;
        }
    }
}
