*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: $primaryColorWhite;
    color: $primaryColorWhite;
}

.text-yellow {
    color: $primaryColorYellow;
}
.text-blue {
    color: $primaryColorBlue;
}

.ff-racing {
    font-family: 'Racing Sans One', cursive;
    font-weight: 100;
    text-transform: uppercase;
}
::selection {
    background-color: $primaryColorYellow;
    color: $primaryColorBlue;
}
