.header-container {
    margin-top: 96px;
    position: relative;
    background: url("../../assets/img/trombi-header-img.jpg") no-repeat 50% 0% / cover fixed;
    height: calc(100vh - 96px);
    // filter: grayscale(50%);
    .oblic-blue {
        position: relative;
        background: $primaryColorBlue;
        clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100%);
        width: 100%;
        height: 150px;
    }
    .page-title {
        color: $primaryColorWhite;
        font-size: 77px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }
    .oblic-yellow {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 150px;
        background: $primaryColorYellow;
        clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
    }
}
