.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    .navbar {
        .nav-img {
            width: 100%;
            height: 96px;
            background: $primaryColorBlue;
            // background: url('../../img/navbar.png') center / cover;
        }
    }
}
