*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #F4F1F0;
  color: #F4F1F0;
}

.text-yellow {
  color: #FFCC1D;
}

.text-blue {
  color: #113B5B;
}

.ff-racing {
  font-family: "Racing Sans One", cursive;
  font-weight: 100;
  text-transform: uppercase;
}

::selection {
  background-color: #FFCC1D;
  color: #113B5B;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }

  #liste-apprenants {
    justify-content: center !important;
  }
}
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.nav-container .navbar .nav-img {
  width: 100%;
  height: 96px;
  background: #113B5B;
}

.header-container {
  margin-top: 96px;
  position: relative;
  background: url("../../assets/img/trombi-header-img.jpg") no-repeat 50% 0%/cover fixed;
  height: calc(100vh - 96px);
}
.header-container .oblic-blue {
  position: relative;
  background: #113B5B;
  clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100%);
  width: 100%;
  height: 150px;
}
.header-container .page-title {
  color: #F4F1F0;
  font-size: 77px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.header-container .oblic-yellow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: #FFCC1D;
  clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
}

#filterBar {
  width: 100%;
  margin: 40px auto;
}
#filterBar .filter-text {
  margin-bottom: 25px;
  font-size: 1.1rem;
  position: relative;
}
#filterBar .search-select-group {
  display: flex;
  justify-content: space-between;
}
#filterBar .search-select-group .promotion-selector-group {
  width: 30%;
}
#filterBar .search-select-group .promotion-selector-group select[name=promotion] {
  border: 1px solid #000;
  padding: 8px;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
#filterBar .search-select-group .search-bar-group {
  display: flex;
  width: 65%;
}
#filterBar .search-select-group .search-bar-group input[type=search],
#filterBar .search-select-group .search-bar-group .searchButton {
  outline: none;
  padding: 8px;
}
#filterBar .search-select-group .search-bar-group input[type=search] {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: none;
  width: 100%;
}
#filterBar .search-select-group .search-bar-group input[type=search]::placeholder {
  font-family: "Poppins", sans-serif;
}
#filterBar .search-select-group .search-bar-group .searchButton {
  border: 1px solid #000;
  cursor: pointer;
  background: #113B5B;
  transition: all 0.3s ease-in-out;
}
#filterBar .search-select-group .search-bar-group .searchButton i {
  font-size: 1.1rem;
  color: #FFCC1D;
  transition: all 0.3s ease-in-out;
}
#filterBar .search-select-group .search-bar-group .searchButton:hover {
  background: #FFCC1D;
}
#filterBar .search-select-group .search-bar-group .searchButton:hover i {
  color: #113B5B;
}
#filterBar .skills-group {
  display: flex;
  color: #113B5B;
  font-weight: 700;
  font-size: 0.9rem;
}
#filterBar .skills-group .checkbox-label-group {
  margin: 25px 25px 0 0;
}
#filterBar .skills-group .checkbox-label-group input[type=checkbox],
#filterBar .skills-group .checkbox-label-group label {
  cursor: pointer;
}
#filterBar .submit-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#filterBar .submit-button-container .submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border: 1px solid #000;
  cursor: pointer;
  background: #113B5B;
  transition: all 0.3s ease-in-out;
  font-size: 1.1rem;
  color: #FFCC1D;
  font-weight: 100;
}
#filterBar .submit-button-container .submit-button:hover {
  background: #FFCC1D;
  color: #113B5B;
}

@media screen and (max-width: 900px) {
  #filterBar {
    width: 90%;
  }
}
@media screen and (max-width: 440px) {
  .search-select-group {
    flex-direction: column;
  }
  .search-select-group .search-bar-group {
    width: 100% !important;
    order: -1;
    margin-bottom: 15px;
  }
  .search-select-group .promotion-selector-group {
    width: 100% !important;
  }

  .submit-button-container {
    margin-top: 25px;
  }
  .submit-button-container .submit-button {
    width: 100% !important;
  }
}
#liste-apprenants {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 25px;
}
#liste-apprenants .card-container {
  position: relative;
  width: 300px;
  height: 450px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  background: #113B5B;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0 7px 20px 10px rgba(0, 0, 0, 0.2);
}
#liste-apprenants .card-container .card-header-container {
  position: relative;
  padding: 20px 0;
}
#liste-apprenants .card-container .card-header-container .card-title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
#liste-apprenants .card-container .card-header-container .skills-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 50px;
  font-size: 14px;
}
#liste-apprenants .card-container .card-header-container .promotion {
  position: absolute;
  bottom: -30px;
  right: 0;
  font-size: 18px;
  font-weight: 600;
  background: #113B5B;
  padding: 5px 10px;
  border-bottom-left-radius: 50%;
}
#liste-apprenants .card-container .excerpt {
  position: absolute;
  z-index: 2;
  background: #113b5bea;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  padding: 25px;
  border: 10px solid #113B5B;
  font-size: 14px;
  overflow: auto;
  transition: all 0.4s 0.1s ease-in-out;
  text-align: justify;
}
#liste-apprenants .card-container .excerpt .hide {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.05rem;
  background: #0b273d;
}
#liste-apprenants .card-container .excerpt .hide i {
  color: #FFCC1D;
}
#liste-apprenants .card-container .excerpt:hover {
  left: 0;
}
#liste-apprenants .card-container .excerpt .excerpt-title {
  text-align: center;
  color: #FFCC1D;
  margin-bottom: 10px;
}
#liste-apprenants .card-container .excerpt:hover ~ .show-excerpt {
  left: 100%;
}
#liste-apprenants .card-container .img-container {
  width: 100%;
  overflow: hidden;
}
#liste-apprenants .card-container .img-container .img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#liste-apprenants .card-container .links-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 101%;
  background: #FFCC1D;
  clip-path: polygon(0 0, 100% 15px, 100% 100%, 0 100%);
  margin: 0 auto;
}
#liste-apprenants .card-container .links-container a {
  font-size: 35px;
  color: #113B5B;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
#liste-apprenants .card-container .links-container a:hover {
  color: #2173b1;
}
#liste-apprenants .card-container .show-excerpt {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  background: #113B5B;
  width: 40px;
  height: 40px;
  padding-right: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s 0.1s ease-in-out;
}
#liste-apprenants .card-container .show-excerpt:hover ~ .excerpt {
  left: 0;
}

.no-results {
  color: #113B5B;
  font-size: 26px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
